{
    "Url":"https://domainofmattermost.com",

    "User":"matteruser",
    "Email":"email@ofmatteruser.com",
    "Password":"mattermostpassword",
    "Token":"psersonalAccessToken",
    "Team":"team",
    "Channel":"channel-name-to-send-tweets-to",
    "DebugChannel":"channel-to-send-debug-messages-to",

    "ConsumerKey":"twitter consumer key",
    "ConsumerSecret":"twitter consumer secret",
    "AccessToken":"twitter access token",
    "AccessSecret":"twitter access secret"
}
